/*
    red 780000
    lightred c1121f
    yellow fdf0d5
    darkblue 003049
    sky 669bbc
*/

:root,
[data-bs-theme=light] {
    --bs-blue: #669bbc !important;
    --bs-red: #780000 !important;
    --bs-orange: #fd7e14;
    --bs-yellow: #fdf0d5 !important;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #003049;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

body {
    background-color: #003049;
}

#navbar {
    text-align: center;
    background-color: var(--bs-border-color-translucent);
    position: sticky;
    top: 0;
}

.nav-link{
    color: white !important;
}

.nav-link .disabled {
    color: grey !important;
}

#main-section{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-section > .bg {
    flex-shrink: 0;
    height: auto;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    left: 0;
    top: 0;
    position: relative;
    min-height: 40vh;
}

#where {
    padding-top: 3em;
    background-color: var(--bs-blue);
    padding-bottom: 3em;   
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}
#when {
    padding-top: 3em;
    background-color: var(--bs-dark);
    padding-bottom: 3em;   
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.card {
    background-color: var(--bs-yellow);
}

label {
    color: var(--bs-white);
}

#who {
    background-color: var(--bs-gray-400);
}

footer{
    background-color: var(--bs-blue);
}